{%extends "layout.html"%}
{%block body %}



<div class="container">
    <!-- Card -->
    <div class="card">

        <!-- Card image -->
        <div class="view overlay">
            <img class="card-img-top" src="" alt="Card image cap">

        </div>

        <!-- Card content -->
        <div class="card-body">

            <!-- Title -->
            <h4 class="card-title">施設登録用</h4>

            <!-- Button -->
            <form action="/create_facility" method="post">
                <button class="btn btn-primary">Button</a>
            </form>
        </div>

    </div>
    <!-- Card -->
</div>

{%endblock%}
