{%extends "layout.html"%}
{%block body %}

<div class="container">

    <div class="card">

        <div class="view overlay">
            <img class="card-img-top" src="" alt="Card image cap">
            <a href="#!">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>

        <div class="card-body">

            <h4 class="card-title">{{facility[0]}}</h4>
            <p class="card-text">{{facility[1]}}</p>
            <p>
                <br>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    プロフィール変更
                </button>
            </p>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <form action="/edit_profile" method="post">
                        <div class="form-group">
                            <textarea name="name" class="form-control" rows="1">{{facility[0]}}</textarea>
                        </div>

                        <div class="form-group">
                            <textarea name="description" class="form-control" rows="6">{{facility[1]}}</textarea>
                        </div>
                        <button class="btn btn-primary">更新</button>
                    </form>
                </div>
            </div>

        </div>


    </div>

</div>
{%endblock%}
